.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: rgba(9, 9, 9, 0.907);
}

nav>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    position: fixed;
    top: 45px;
    left: 40px;
    font-size: large;
    font-weight: 800;
}

li,
h1 {
    text-align: center;
    margin-left: 20px;
}

.headerTitle {
    margin-left: -1600px;
}

footer {
    margin-top: -240px;
    background-color: rgba(9, 9, 9, 0.907);
    height: 150px;
    clear: both;
}

.bookCard {
    display: flex;
    flex-direction: column;
}

.book {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bookData {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sandwichGeneral {
    background-image: url('../src/images/sandwich.jpg') ;
    background-size: 100%;
    width: 100%;
    height: 1500px;
    background-repeat: no-repeat;
}

.libraryGeneral {
    background-image: url('../src/images/books.jpg') ;
    background-size: 100%;
    width: 100%;
    height: 1500px;
    background-repeat: no-repeat;
}

.counterGeneral {
    background-image: url('../src/images/counter.jpg') ;
    background-size: 100%;
    width: 100%;
    height: 1500px;
    background-repeat: no-repeat;
}