.bookCard {
    display: flex;
    flex-direction:column;
}

.book {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bookData {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
